.game-types{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.games{ 
    border-radius: 50px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    width: 210px;
    height: 60px;
    margin: 10px;
    justify-items: center;
    text-align: end;
}

.game-types-container{
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
  grid-template-columns: repeat(5, 0fr);
  padding: 50px;
  
}